<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body {
      margin: 0;
      background: white;
    }
    a {
      text-decoration: none;
    }

    .accept {
      color: #FFF;
      background: #44CC44;
      padding: 3px 4px;
      box-shadow: 0 4px 0 0 #2EA62E;
    }

    .accept:hover {
      background: #6FE76F;
      box-shadow: 0 4px 0 0 #7ED37E;
    }

    .reject {
      color: #FFF;
      background: tomato;
      padding: 3px 4px;
      box-shadow: 0 4px 0 0 #CB4949;
    }

    .reject:hover {
      background: rgb(255, 147, 128);
      box-shadow: 0 4px 0 0 #EF8282;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  
</head>

<body>
  <nav class="light-blue lighten-1" role="navigation">
    <ul class="right hide-on-med-and-down">
    </ul>
    <ul id="nav-mobile" class="sidenav">
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons"></i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <div class="row center">
        <h1 class="header center orange-text">Transactions</h1><br>
        <div class="row center">
          <h5 class="header col s12 light">Upload latest data
            <br>
          </h5>

        </div>
        <div class="row">
          <form action="{{url_for('get_data')}}" method="POST" enctype="multipart/form-data">
            <form action="" method="POST" enctype="multipart/form-data">
              <b>file </b><input type="file" name="bank_file"></b>
              <!-- <b>Approver</b>
             <input type="text" name="approvername" value="{{request.form['approvername']}}" readonly /> -->
              <!-- <input list="Approver" type="text"  name="approvername"><br>
             <datalist id="Approver">
               <option value="David" />
               <option value="Monica" />
               <option value="Irien" />
             </datalist> -->
              <div class="row center"><br><br>
                <input type="submit" value="submit" />
              </div>
            </form>

        </div>
        <div>
          <br>
          <form method="post">
            <table>
              {% for table in tables %}
              <tr>
                <td><input type="hidden" name="title" value="{{ table }}">{{table| safe}}</td>
              </tr>
              {% endfor %}
              <tr>
                <td>
                  <input type="submit" name="submit" id="check" value="Submit" />
                </td>
              </tr>
            </table>
          </form>
          <!-- {% for table in table %}
         <form action="{{url_for('send_data')}}" method="post">
            <tr>
                <td>
                  <input type="hidden" name="title" value="{{ table }}"> {{ table }}
                </td>
            </tr>    
            <tr>
              <td>
                <input type="submit" name="submit" value="Submit"/>
              </td>
            </tr>  
          </form>    
         {% endfor %} -->
          <br>
          <br>
          <script>
            // document.getElementsByName('action').onclick = function() {
            //   if(this.checked){
            //     console.log('approved');
            //   } else if(!this.checked){
            //     console.log('rejected');
            //   }
            // }
            // $(function() {
            //   $('a.accept').on('click', function(e) {
            //     e.preventDefault()
            //     $.getJSON('/accept',
            //         function(data) {
            //       //do nothing
            //     });
            //     return false;
            //   });
            // });
            // $(function() {
            //   $('a.reject').on('click', function(e) {
            //     e.preventDefault()
            //     $.getJSON('/reject',
            //         function(data) {
            //       //do nothing
            //     });
            //     return false;
            //   });
            // });
            document.getElementById('check').onclick=function() {
              console.clear()
              const checkboxes = document.getElementsByName('action');
              checkboxes.forEach(cb => {
                const row = cb.closest('tr');
                if(cb.checked){
                  $('table tr:eq(2)').each(function(){
                    console.log(`checked row (#${row.rowIndex})`);
                    alert($(this).text());
                  });
                }else{
                  console.log(`not checked row (#${row.rowIndex})`);
                }
              });
            }
            // $(function() {
              
            //   document.addEventListener('click', event => {
            //     console.clear();
            //     const allChecked = document.querySelectorAll(`[type='checkbox']:checked`);
            //     const notChecked = document.querySelectorAll(`[type='checkbox']:not(:checked)`);
            //     if(allChecked.length){
            //       return allChecked.forEach(cb => {
            //         const row = cb.closest(`tr`);
            //         console.log(`checked row (#${row.rowIndex})`);
            //       })
            //     }
            //     if(notChecked.length){
            //       return notChecked.forEach(cb => {
            //         const row = cb.closest(`tr`);
            //         console.log(`not checked row (#${row.rowIndex})`);
            //       })
            //     }
            //       return console.log(`none checked`)
            //   })
            // })
            function toggle(source) {
              checkboxes = document.getElementsByName('action');
              for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
              }
            }
        
          </script>
</body>

</html>